@model prueba2maya.Models.HistorialPrecio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistorialPrecio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class ="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrecioAnterior" class="control-label"></label>
                <input asp-for="PrecioAnterior" class="form-control" />
                <span asp-validation-for="PrecioAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioNuevo" class="control-label"></label>
                <input asp-for="PrecioNuevo" class="form-control" />
                <span asp-validation-for="PrecioNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambio" class="control-label"></label>
                <input asp-for="FechaCambio" class="form-control" />
                <span asp-validation-for="FechaCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
